body{
    margin: 0;
    font-family: 'Bangers', cursive;
    background-color: #D2FDFF;
}
h1{
    color:#B4DFE5;
    text-align: center;
    background-color: #F4976C;
    height: 150px;
    font-size: 90px;
    padding-top: 0%;
}
.content{
    color: #303C6C;
}
table{
    border: solid #fBE8A6;
}
input{
    font-family: 'Bangers', cursive;
}